.class1 {
    color: red;
}

.class2 {
    color: green;
}

.class3 {
    color: blue;
}

#container {
    display: flex;
}

.dynamicMenu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 8px;
}

.dynamicMenu a {
    text-decoration: none;
}

.menuItem {
    background-color: lightgray;
    border-radius: 8px;
    min-width: 128px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItem p {
    margin: 0;
}

.menuItem:hover {
    filter: brightness(1.1);
}